<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Logo</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
    	<li><%= link_to 'Edit', edit_article_path(@article) %></li>
      <li><%= link_to 'Back', articles_path %></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><%= link_to 'Edit', edit_article_path(@article) %></li>
      <li><%= link_to 'Back', articles_path %></li>
    </ul>
  </div>
</nav>

<div class="container">
	<div class="row">
		<div class="col m12">
			<p>
			  <strong>Title:</strong>
			  <%= @article.title %>
			</p>
			 
			<p>
			  <strong>Text:</strong>
			  <%= @article.text %>
			</p>
			 
			<h2>Comments</h2>
			<%= render @article.comments %>
			 
			<h2>Add a comment:</h2>
			<%= render 'comments/form' %>
		</div>
	</div>
</div>
 
<script type="text/javascript">
  $( document ).ready(function(){
   $(".button-collapse").sideNav();
  })
</script>